/* Additional CSS to customize Bootstrap
-------------------------------------------------- */

/* Base settings */
body {
	background-color: #F6F6F6;
	font-family: Roboto-Regular;
	font-size: 14px;
	color: #6E6E6E;
	line-height: 20px;
}

h2 {
	text-align:center;
	font-family: BoltonTitlingShadowed;
	font-size: 40px;
	color: #607D8B;
	line-height: 40px;
	margin-top:30px;
	
}

h3 {
	/* Wednesday*: */
	font-family: Roboto-Bold;
	font-size: 20px;
	color: #607D8B;
	line-height: 20px;
	margin-top:15px;
}

.hotel_details {
	/* 1 Old Ranch Rd, Carm: */
	font-family: Roboto-Light;
	font-size: 11px;
	color: #6E6E6E;
	line-height: 16px;
}

img#headshot{
	margin-left:auto;
	margin-right:auto;
	display:block;
	margin-top:10px;
}

.footer {
	margin:50px;
	text-align:center;
	font-size:.7em;
	
}

.mobile-title {
	color:#607D8B;
	padding-top:15px;
	font-size:20px;
}

div.main {
	margin-top:50px;
}

/* Carousel base class */
.carousel {
  margin-bottom: 20px;
}

.carousel-overlay {
	/* We’re Getting Marrie: */
	font-family: Satisfy;
	font-size: 72px;
	color: #FDFDFD;
	line-height: 103px;
    position:absolute;
    z-index:12;
    top:20%;
    left:0;
    width:100%;
    text-align:center;
}

.carousel-sub-overlay {
	/* October 17, 2015: */
	font-family: Copperplate;
	font-size: 30px;
	color: #FDFDFD;
	line-height: 31px;
    position:absolute;
    z-index:12;
    top:35%;
    left:0;
    width:100%;
    text-align:center;
}

/* Wedding party */
.wedding-row {
	display:table;
}
.wedding-party{
	text-align:center;
	display:table-cell;
	vertical-align:middle;
}

.wedding-party > img {
	background: #D8D8D8;
	border: 1px solid #979797;
	margin-left:auto;
	margin-right:auto;
}

.wedding-party-hs {
	width:75%;
}

.wedding-party-name {
	font-family: Roboto-Regular;
	font-size: 20px;
	color: #607D8B;
	line-height: 24px;
}
.wedding-party-title {
	font-family: Copperplate-Light;
	font-size: 20px;
	color: #607D8B;
	line-height: 20px;
}

.wedding-party-rel {
	/* (Friend of the Bride: */
	font-family: Roboto-LightItalic;
	font-size: 16px;
	color: #607D8B;
	line-height: 19px;
}

/* Navbar changes */
@media (min-width: 768px){
    .navbar-nav {
        margin: 0 auto;
        display: table;
        table-layout: auto;
        float: none;
        width: 100%;
    }
    .navbar-nav>li {
        display: table-cell;
        float: none;
        text-align: center;
    }
}

.navbar {
	margin-bottom:0px;
}

.navbar-toggle {
	margin-left:15px;
	float:left;
}

/* RSVP Card details */
.card {
	background: #FFFFFF;
	box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.50);
	padding:20px;
}

.card_footer {
	margin-bottom: 20px;
}

.card_border {
	border: 3px solid #607D8B;
	width:100%;
	height:100%;
	padding:20px;
}

.event_title {
	font-family: BrushScriptMT;
	font-size: 28px;
	color: #607D8B;
	line-height: 9px;	
}

.event_rsvp {
	font-family: BoltonTitlingShadowed;
	font-size: 20px;
	color: #607D8B;
	line-height: 25px;
}

.card_contents {
	padding:30px;
}

.card_detail {
	font-family: Roboto-Light;
	font-size: 12px;
	color: #6E6E6E;
	line-height: 14px;
}

.card_contents > .form-group > label {
	font-weight:100;
}


/* Imported Layers: */
/*background: #607D8B;*/

