{% extends "index.html" %}	
{% block body %}
<div class="container">
	
		<div class="row">
			<div class="col-sm-1 col-md-3"></div>
			<div class="col-xs-12 col-sm-10 col-md-6">
				<h2>Confirmation</h2>
			</div>
			<div class="col-sm-1 col-md-3"></div>			
		</div>
		<div class="row">
			<div class="col-sm-1 col-md-3"></div>
			<div class="col-xs-12 col-sm-10 col-md-6">
				<div class="card">
					<div class="card_border">
						<div class="card_header">
							<span class="event_title">Thank you</span>
							<span class="event_rsvp pull-right">RSVP</span>
						</div>
						<div class="card_contents">
							<p class="card_detail text-center">Your RSVP has been submitted. If something has come up and you need to change your RSVP, please reach out to Matt or Julia!</p>
							<br>
							<p class="card_detail text-center">Details for the weekend can be found <a href="/weekend" target="_blank">here.</a></p>
						</div>
						<div class="card_footer">
							<img src="static/img/logo.png" height="30px" class="pull-right">
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-1 col-md-3"></div>
		</div>
		<br>
		<br><br>
</div>
{% endblock %}