{% extends "index.html" %}	
{% block body %}

<!-- Include RSVP date picker -->
<link href="static/css/bootstrap-datepicker3.min.css" rel="stylesheet">
<script src="static/js/bootstrap-datepicker.min.js"></script>

<div class="container">
	<br>

	<!-- RSVP cards -->
	<form role="form" method="post" action="/rsvp_submit" class="form-horizontal">
		<input type="hidden" name="invite_key" value= {{ invite.key.urlsafe() }}>
		<div class="hidden" id="guest_count">{{ guest_count }}</div>
		<div class="hidden" id="no_count">0</div>
		<br>
		<div class="row">
			<div class="col-sm-1 col-md-3"></div>
			<div class="col-xs-12 col-sm-10 col-md-6">
				<div class="card">
					<div class="card_border">
						<div class="card_header">
							<span class="event_title">Ceremony &amp; Reception</span>
							<span class="event_rsvp pull-right">RSVP</span>
							<p class="card_detail">
								Saturday 10/17 from 4PM onward at Holman Ranch. Dinner will be served family style. More details for the day can be found <a href="/weekend" target="_blank">here.</a>
							</p>
						</div>
						<div class="card_contents">
							<span class="card_detail text-left"></span>													
							{% for guest in guests %}
							<div class="form-group">
								<label for="w-{{ guest.key.urlsafe() }}" class="col-xs-5 control-label">
									{{ guest.name }}
								</label>
								<div class="col-xs-7">
									<select class="form-control" name="w-{{ guest.key.urlsafe() }}">
										<option>Will gladly attend</option>
										<option>Declines with regrets</option>
									</select>
								</div>
							</div>
							{% endfor %}
							<hr>							
						</div>
						<div id="details">
							{% if invite.rehearsal_invite %}
							<div class="card_header">
								<span class="event_title">Rehearsal</span>
								<p class="card_detail">
									Friday 10/17 from 4PM to 8PM at Holman Ranch We're so happy to have you as part of our wedding!
								</p>
							</div>
							<div class="card_contents">

								{% for guest in guests %}
								<div class="form-group">
									<label for="r-{{ guest.key.urlsafe() }}" class="col-xs-5 control-label">
										{{ guest.name }}
									</label>
									<div class="col-xs-7">
										<select class="form-control" name="r-{{ guest.key.urlsafe() }}">
											<option>Will gladly attend</option>
											<option>Declines with regrets</option>
										</select>
									</div>
								</div>
								{% endfor %}
					
								<hr>
							</div>							
							{% endif %}		
							<div class="card_header">
								<span class="event_title">Arrival Drinks &amp; Dessert</span>
								<p class="card_detail">
									Held poolside at Carmel Valley Ranch on Friday 10/16 from 8pm to 10pm.
								</p>
							</div>							
							<div class="card_contents">
								{% for guest in guests %}
								<div class="form-group">
									<label for="r-{{ guest.key.urlsafe() }}" class="col-xs-5 control-label">
										{{ guest.name }}
									</label>
									<div class="col-xs-7">
										<select class="form-control" name="d-{{ guest.key.urlsafe() }}">
											<option>Will gladly attend</option>
											<option>Declines with regrets</option>
										</select>
									</div>
								</div>
								{% endfor %}	
								<hr>						
							</div>
							<div class="card_header">
								<span class="event_title">Sunday Brunch</span>
								<p class="card_detail">
									Held on the Redwood Terrace at Carmel Valley Ranch on Sunday 10/18 from 10am to Noon.
								</p>
							</div>	
							<div class="card_contents">						
								{% for guest in guests %}
								<div class="form-group">
									<label for="r-{{ guest.key.urlsafe() }}" class="col-xs-5 control-label">
										{{ guest.name }}
									</label>
									<div class="col-xs-7">
										<select class="form-control" name="b-{{ guest.key.urlsafe() }}">
											<option>Will gladly attend</option>
											<option>Declines with regrets</option>
										</select>
									</div>
								</div>
								{% endfor %}														
								<hr>
								<div class="form-group">
									<label for="hotel">Where are you staying</label>
									<select class="form-control" name="hotel">
										<option>Carmel Valley Ranch Hotel</option>
										<option>Hyatt Regency Monterey</option>
										<option>Bernardus Lodge</option>
										<option>Holman Ranch</option>
										<option>Carmel Lodge</option>
										<option>Other</option>
									</select>
								</div>												
								<div class="form-group">
									<label for="arrival_date">Arrival and Departure into the Carmel Valley area</label>
									<div class="input-daterange input-group" id="datepicker">
										<input type="text" class="input-sm form-control" name="arrival_date" value="10/16/2015"/>
										<span class="input-group-addon">to</span>
										<input type="text" class="input-sm form-control" name="departure_date" value="10/18/2015"/>
									</div>
								</div>
							</div>
						</div>
						<p id="regrets" style="display: none;">We're sorry you can't make it!</p>							
						<div class="form-group">
							<textarea class="form-control" rows="3" name="advice" placeholder="Love or marriage advice for the Bride and Groom"></textarea>
						</div>
						<div class="row">
							<div class="col-md-12 text-center">
								<button type="submit" class="btn btn-primary">Submit RSVP</button>
							</div>	
						</div>
						
						<div class="card_footer">
							<img src="static/img/logo.png" height="30px" class="pull-right">
						</div>												
					</div>									
				</div>
			</div>
			<div class="col-sm-1 col-md-3"></div>
		</div>
	</form>
	
	<script type = "text/javascript">
	
	// Show datepicker input
	$('.input-daterange').datepicker({
		format: 'mm/dd/yyyy',
		startDate: '10/10/2015',
		endDate: '10/25/2015'
	})
	
	// Hide options if not coming to wedding
	$(document).ready(function () {

		{% for guest in guests %}
		
		$('select[name="w-{{ guest.key.urlsafe() }}"]').change(function () {
			if ($('select[name="w-{{ guest.key.urlsafe() }}"] option:selected').val() == 'Declines with regrets') {
				
				// Increment counter
				var current_count = parseInt($("#no_count").html()) + 1;
				$("#no_count").html(current_count);
				
				if (current_count >= parseInt($("#guest_count").html())) {
					$('#details').hide();
					$("#regrets").show();
				} else {
					$('#details').show();
					$("#regrets").hide();
				}	
			} else {
				
				// Decrement counter
				var current_count = parseInt($("#no_count").html()) - 1;
				$("#no_count").html(current_count);
				
				if (current_count >= parseInt($("#guest_count").html())) {
					$('#details').hide();
					$("#regrets").show();
				} else {
					$('#details').show();
					$("#regrets").hide();
				}	
				
			}
		});
		
		{% endfor %}
		
		
	});
	</script>
	
</div>
{% endblock %}