{% extends "index.html" %}	
{% block body %}

<div class="container">
	<div class="row"><h2>RSVP</h2></div>
	<div class="row"><br></div>
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6 text-center">
			<p>
				Please RSVP by September 1st, 2015. We look forward to seeing you!
			</p>
			{% if not_found %}
			<div class="alert alert-warning">Sorry, but there was not an invitation found for the {{ not_found }} family. (case sensitive)</div>
			{% endif %}
			<br>
			
			{% if multiple %}
			<form role="form" method="post" action={{ url_for('rsvp_exact') }}>
				<div class="row">
					<div class="col-xs-12">
						Which invitation did you mean?
						{% for invite in invites %}
						<button type="submit" class="btn btn-default btn-block btn-lg" name="invite" value="{{ invite.key.urlsafe() }}">
							{% for guest in invite.guests %}
								{% if loop.last %}
								{{ guest.get().name }}
								{% else %}
								{{ guest.get().name }} &amp; 
								{% endif %}
							{% endfor %}
						</button>
						{% endfor %}	
					</div>
				</div>
			</form>
			
			{% else %}
			<form role="form" method="post" action={{ url_for('rsvp') }}>
				<div class="row">
					<div class="col-xs-3"></div>
					<div class="form-group col-xs-6">
						<input class="form-control" id="registration_id" name="registration_id" placeholder="Enter your last name">
					</div>
					<div class="col-xs-3"></div>
				</div>
				<div class="row">
					<br>
					<button type="submit" class="btn btn-primary">Find Invitation</button>
				</div>
			</form>
			
			{% endif %}
		</div>
		<div class="col-md-3"></div>
	</div>
</div>
{% endblock %}