{% extends "base.html" %}	
{% block content %}

<div class="container-fluid">
	<div class="row"><h2>Wedding Party</h2></div>
	<div class="row">
		<div class="col-xs-12"><h3 class="text-center">Bridal Party</h3><br/></div>
	</div>
	<div class="row wedding-row">
		<div class="col-md-1"></div>
		<div class="col-md-2 col-sm-4 col-xs-6 wedding-party">
			<img src="/static/img/headshots/EmilyDryer.jpg" class="img-circle img-responsive wedding-party-hs"><br/>
			<span class="wedding-party-name">Emily Dyer</span><br/>
			<span class="wedding-party-title">Maid of Honor</span><br/>
			<span class="wedding-party-rel">(Friend of the Bride)</span>
		</div>
		<div class="col-md-2 col-sm-4 col-xs-6 wedding-party">
			<img src="/static/img/headshots/KateMellor.jpg" class="img-circle img-responsive wedding-party-hs"><br/>
			<span class="wedding-party-name">Kate Mellor</span><br/>
			<span class="wedding-party-title">Maid of Honor</span><br/>
			<span class="wedding-party-rel">(Friend of the Bride)</span>
		</div>
		<div class="col-md-2 col-sm-4 col-xs-6 wedding-party">
			<img src="/static/img/headshots/JessieNash.jpg" class="img-circle img-responsive wedding-party-hs"><br/>
			<span class="wedding-party-name">Jessie Nash-Helfgot</span><br/>
			<span class="wedding-party-title">Bridesmaid</span><br/>
			<span class="wedding-party-rel">(Cousin of the Bride)</span>
		</div>
		<div class="col-md-2 col-sm-4 col-xs-6 wedding-party">
			<img src="/static/img/headshots/RachelColeman.jpg" class="img-circle img-responsive wedding-party-hs"><br/>
			<span class="wedding-party-name">Rachel Coleman</span><br/>
			<span class="wedding-party-title">Bridesmaid</span><br/>
			<span class="wedding-party-rel">(Sister of the Groom)</span>
		</div>
		<div class="col-md-2 col-sm-4 col-xs-6 wedding-party">
			<img src="/static/img/headshots/NadiaGoldman.jpg" class="img-circle img-responsive wedding-party-hs"><br/>
			<span class="wedding-party-name">Nadia Goldman</span><br/>
			<span class="wedding-party-title">Bridesmaid</span><br/>
			<span class="wedding-party-rel">(Cousin of the Bride)</span>
		</div>
		<div class="col-md-1"></div>
	</div>
	<div class="row">
		
	</div>
	<div class="row">
		<div class="col-xs-12"><br/><h3 class="text-center">Groomsmen</h3><br/></div>
	</div>
	<div class="row wedding-row">
		<div class="col-md-1"></div>
		<div class="col-md-2 col-sm-4 col-xs-6 wedding-party">
			<img src="/static/img/headshots/MatthewRoe.jpg" class="img-circle img-responsive wedding-party-hs"><br/>
			<span class="wedding-party-name">Matthew Roe</span><br/>
			<span class="wedding-party-title">Best Man</span><br/>
			<span class="wedding-party-rel">(Brother of the Groom)</span>
		</div>
		<div class="col-md-2 col-sm-4 col-xs-6 wedding-party">
			<img src="/static/img/headshots/AnthonyAddessi.jpg" class="img-circle img-responsive wedding-party-hs"><br/>
			<span class="wedding-party-name">Anthony Addessi</span><br/>
			<span class="wedding-party-title">Groomsman</span><br/>
			<span class="wedding-party-rel">(Friend of the Groom)</span>
		</div>
		<div class="col-md-2 col-sm-4 col-xs-6 wedding-party">
			<img src="/static/img/headshots/DanMoynihan.jpg" class="img-circle img-responsive wedding-party-hs"><br/>
			<span class="wedding-party-name">Daniel Moynihan</span><br/>
			<span class="wedding-party-title">Groomsman</span><br/>
			<span class="wedding-party-rel">(Friend of the Groom)</span>
		</div>
		<div class="col-md-2 col-sm-4 col-xs-6 wedding-party">
			<img src="/static/img/headshots/WillFoss.jpg" class="img-circle img-responsive wedding-party-hs"><br/>
			<span class="wedding-party-name">William Foss</span><br/>
			<span class="wedding-party-title">Groomsman</span><br/>
			<span class="wedding-party-rel">(Friend of the Groom)</span>
		</div>
		<div class="col-md-2 col-sm-4 col-xs-6 wedding-party">
			<img src="/static/img/headshots/AaronSchurman.jpg" class="img-circle img-responsive wedding-party-hs"><br/>
			<span class="wedding-party-name">Aaron Schurman</span><br/>
			<span class="wedding-party-title">Groomsman</span><br/>
			<span class="wedding-party-rel">(Brother of the Bride)</span>
		</div>
		<div class="col-md-1"></div>
	</div>
</div>
{% endblock %}
