{% extends "base.html" %}	
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>The Weekend</h2>
      <p>
	The Bride and Groom will be in Carmel Valley from Tuesday (Oct 13th) to Sunday (Oct 18th). <strong><em>You are welcome to arrive "in the valley" anytime, or just in time!</strong></em>
      </p>
      <h3>Thursday</h3>
      <ul>
	<li>You might find us at Mission Ranch Bar from 8pm - 10pm for the Piano Bar! Let us know if you'll be in town and we'll be sure to keep you in the loop.</li>
      </ul>
      <h3>Friday <small>Wedding Eve (optional)</small></h3>
      <ul>
	<li>Find yourself wine tasting around <a href="http://honestcooking.com/8-walkable-wineries-carmel-valley-california/" target="_blank">Carmel Valley</a>, enjoy croquet outside at <a href="http://www.bernarduslodge.com/rooms/luxury-croquet/" target="_blank">Bernardus Lodge</a>, or explore <a href="http://www.carmelvalleyranch.com/meetings-and-events/group-activity-guide" target="_blank">Carmel Valley Ranch activities</a></li>
	<li>Interested in golf with other guests? Let us know and we'll do our best to coordinate a group!</li>
	<li>Join us for Welcome Drinks & Desserts at Carmel Valley Ranch, Poolside Cabanas from 8pm - 10pm. <small>(Please RSVP prior to September 1st along with your invitation if you are planning to attend)</small></li>
      </ul>			
      <h3>Saturday <small>The Big Day</small></h3>
      <ul>
	<li>Shuttle from Hotel to Holman Ranch (schedule
	below)</li>
	<li>Arrive at Holman Ranch by 3:30 <small>(It will take a little time once you arrive to get to the ceremony area)</small></li>
	<li>Ceremony &amp; Reception from 4pm - 10pm</li>
	<li><em>Unofficial</em> afterparty from 10pm - 1am at The Running Iron Bar</li>
      </ul>
      <p><strong>Wedding Day Transportation: </strong>Shuttles will be
      provided for all guests per the schedule below. We recommend you do not drive to and from the wedding and reception. Roads in Carmel Valley are dark and windy. We will have a car service on-site for emergency purposes if you need to depart earlier than the planned shuttles.</p>
      <h3>Sunday <small>Brunch (family and wedding party)</small></h3>
      <ul>
	<li>Farewell Bagels &amp; Coffee from 10am-12pm at Carmel Valley Ranch, on the Redwood Terrace. <small>(Please RSVP prior to September 1st if you are able to join us!)</small></li>
      </ul>
    </div>
  </div>	
  <div class="row">
    <div class="col-md-12"><h2>Details</h2></div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3>Weather</h3>
      <p>
	Carmel Valley is set in from the coast, so typically experiences less of the cloudy foggy weather than can be found near the shore at the same time of year. Average temperatures during the day in Carmel Valley in October are between low 70s and mid 90s, with almost no humidity and lots of sunshine. Mornings and evenings can be <u><em>much cooler</em></u>. We recommend bringing layers for the evenings in the Valley or along the coast. 
      </p>
      <p>
	All part of our wedding events (from the Rehearsal Dinner to the Ceremony and Reception) are outdoors. We presume the ceremony and cocktail hour will be very warm with direct sun, and the evening can be a bit cooler (we’d will have heat lamps and blankets!). There is indoor space to relax or warm up if needed. The entire property is all ours, so plenty of places to tuck away a jacket or shawl for later if you’d like, but we encourage drinking and dancing to keep you warm!
      </p>
      <p>
	Check the weather report before you depart. Although it is a dry time of year, you never know when Northern California can expect showers. 
      </p>
      <h3>Attire</h3>
      <p>
	<strong>Rehearsal Dinner: </strong>Cocktail<br>
	<strong>Welcome Drinks &amp; Desserts: </strong>Informal, dress to be warm!<br>
	<strong>Wedding: </strong>Formal Cocktail <small>(no tuxes please!)</small><br>
      </p>
      <p>
	<em><strong>Attention Ladies:</strong> Our venue is mostly grass and uneven stone. Wedges or flats are strongly preferred. If you want to 
	  stride in heels, check out <a href="https://www.thesolemates.com/" target="_blank">these kind of solemates.</a></em>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3>Attendance</h3>
      <p>
	Our ceremony and reception will be adults only. Please find childcare options <a href="http://www.vipbabysitting.com/" target="_blank">here</a>.
      </p>
      <h3>Transportation</h3>
      <p>A complementary shuttle will be provided with the
      following schedule on Saturday:</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10">
      <div class="table-responsive">
	<table class="table table-hover">
	  <thead>
	    <th></th>
	    <th class="text-center">Hyatt Regency Monterey</th>
	    <th class="text-center">Carmel Lodge</th>
	    <th class="text-center">Carmel Valley Ranch</th>
	  </thead>
	  <tbody class="text-center">
	    <tr class="active">
	      <td class="text-left">To Holman Ranch</td>
	      <td>2:45PM</td>
	      <td>3:10PM</td>
	      <td>3:15PM</td>
	    </tr>
	    <tr class="active">
	      <td class="text-left">From Holman to Hotels & Bar</td>
	      <td>9:40PM, 10:15PM</td>
	      <td>9:40PM, 10:05PM</td>
	      <td>9:40PM, 10:05PM, 10:15PM, 10:20PM</td>
	    </tr>
	    <tr class="active">
	      <td class="text-left">From Bar to Hotels</td>
	      <td>11PM, 11:30PM, 12:15AM</td>
	      <td>11PM, 11:30PM, 12:15AM</td>
	      <td>11PM, 11:30PM, 12:15AM</td>
	    </tr>
	  </tbody>
	</table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
